{
	"extends": "eslint:recommended",
	"sourceType": "module",
	"env": {
		"browser": true,
		"node": true,
		"jasmine": true
	},
	"plugins":[
		"jasmine"
	],
	"settings": {
		"ecmascript": 6
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"ecmaFeatures": {
			"modules": true,
			"impliedStrict": true
		}
	},
	"rules": {
		"strict": 0,
		"quotes": 0,
		"no-unused-vars": 0,
		"camelcase": 0,
		"no-underscore-dangle": 0
	}
}
